*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-top: 20px;
    background: rgb(214, 208, 208);
}

h2 {
    background-color: grey;
    box-shadow: 0px 2px 5px rgb(0,0,0,.2);
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

nav {
    width: 100%;
    margin-bottom: 15px;
}

ul {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}